#
# WSL関連設定
#
WSL_INSTANCE_NAME=ubuntu-for-travel-agent-lab
WSL_INSTANCE_PATH=C:\wsl\instance\ubuntu-for-travel-agent-lab
WSL_DISTRO_IMAGE_URL=https://cloud-images.ubuntu.com/wsl/releases/noble/current/ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz
WSL_DISTRO_IMAGE_PATH=C:\wsl\images\ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz
