#
# WSL関連設定
#
WSL_INSTANCE_NAME=ubuntu-for-travel-agent-lab
WSL_INSTANCE_PATH=C:\wsl\instance\ubuntu-for-travel-agent-lab
WSL_DISTRO_IMAGE_URL=https://cloud-images.ubuntu.com/wsl/releases/noble/current/ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz
WSL_DISTRO_IMAGE_PATH=C:\wsl\images\ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz

#
# 開発環境(ホスト)関連設定 ※Dev Host
#

# アプリケーション用ユーザー・グループ設定
APP_GID=9999
APP_GROUP_NAME=appgroup
APP_UID=9999
APP_USER_NAME=appuser
APP_USER_PASSWORD=appuser_password

# git関連設定
GIT_USER_NAME=your_name
GIT_USER_EMAIL=your_email@example.com
GIT_REPO_URL=https://github.com/d-saitou/travel-agent-lab.git
GIT_REPO_NAME=travel-agent-lab
GIT_REPO_BRANCH=HEAD

# yqダウンロードURL設定
YQ_DOWNLOAD_URL=https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64

#
# 開発環境(コンテナ)関連設定 ※Dev Container
#

# DBコンテナ設定
DB_PGVECTOR_IMAGE=0.8.6-pg18-trixie
DB_POSTGRES_USER_PASSWORD=postgres_user_password
DB_APP_TX_USER_PASSWORD=app_tx_user_password
DB_APP_RAG_USER_PASSWORD=app_rag_user_password
